
	<link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/demo.css" rel="stylesheet" />
    <link href="/css/now-ui-kit.css" rel="stylesheet">

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>