<footer class="footer">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="https://www.tecnalia.com/es">
                        Tecnalia
                    </a>
                </li>
                <li>
                    <a href="{{presentation}}">
                        About Me
                    </a>
                </li>
                <!--li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                        MIT License
                    </a>
                </li-->
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, Designed by
            <a href="https://www.tecnalia.com/es" target="_blank">Tecnalia</a>. Coded by
            <a href="{{presentation}}" target="_blank">Iñaki Seco</a>.
        </div>
    </div>
</footer>