<div class="page-header page-header-small" filter-color="green">
    <div class="page-header-image" data-parallax="true" style="background-image: url('../img/bg4.jpg');">
    </div>
    <div class="container">
        <div class="content-center">
            <div class="photo-container">
                <img src="../img/jack.jpg" alt="">
            </div>
            <h2 class="title">Jack Sparrow</h2>
            <br>
            <p class="category">Public Key</p>
            <h3 id="sender">0x4eab0f78821612c0528f29fe1193c5d825616a74</h3>
        </div>
    </div>
</div>