<!DOCTYPE html>
<html lang="en">

  <head>
    {{> partials/meta}}

    <title>Certificates - Error</title>

    {{> partials/css}}

    <!-- Favicons -->
    {{> partials/icon}}
  </head>

  <body>
    <!-- Main container -->
    <main class="main-content">

      <section class="section py-100">
        <div class="container">
          <header class="section-header">
            <small>{{message}}</small>
            <h2>{{error.status}}</h2>
            <hr>
            <p class="lead">Seems you're looking for something that doesn't exist.</p>
            <br>
      			{{#developmentMode}}
      				<pre>{{error.stack}}</pre>
      			{{/developmentMode}}
          </header>

          <br>
          <p class="text-center"><a class="btn btn-primary" href="/">Return home</a></p>

        </div>
      </section>

    </main>

  </body>
</html>