<!DOCTYPE html>
<html lang="en">
	{{> partials/icon}}
    <body class="login-page sidebar-collapse">
        {{> partials/navbar}}
        <div class="wrapper">
            {{> partials/footer}}
        </div>
    </body>
    {{> partials/scripts}}
</html>