<!DOCTYPE html>
<html lang="en">
	{{> partials/icon}}
    <body class="profile-page sidebar-collapse">
        {{> partials/navbar}}
        <div class="wrapper">
            {{> profile/headers/header2}}
            {{> profile/main}}
            {{> partials/footer}}
        </div>
    </body>
    {{> partials/scripts}}
    <script type="text/javascript" src="/js/listeners/listenerProfile.js"></script>
</html>